{% extends 'base.html' %}

{% block body %}

<div class="container">
    <hr>
        <div class="row">
            
            <form method="POST" action="" class="border p-5 mt-2 rounded-4" enctype="multipart/form-data">
                {{ form_coment.csrf_token }}
                <legend>Editar Comentario</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_coment.corpo.label(class='form-control-label') }}
                        {% if form_coment.corpo.errors %}
                            {{ form_coment.corpo(class='form-control is-invalid') }}

                            <div class="invalid-feedback">
                                {% for error in form_coment.corpo.errors %}
                                    {{ error}}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_coment.corpo(class='form-control rounded-4') }}
                        {% endif %}
                    </div>
                </fieldset>
                {{ form_coment.botaoSubmitCriarComentario(class='btn btn-primary mt-2') }}
            </form>
                
                
            
        </div>
</div>

{% endblock%}